# Dependencies
node_modules/
yarn-error.log

# Build output
dist/

# Environment variables
.env
.env.local

# Output files
output/

# Geocode Cache
geocode-cache.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
